{% extends "basic.html" %}

{% load static %}

{% block load_css %}
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div id="main_div">
        <div id = "div4">
            <a download="result.png" href="{{ current_img.modified.url }}" id="down_link1">
                <p id="down_but1">Download</p>
            </a>
            <a download="mask.png" href="{{ current_img.modified.url }}" id="down_link2">
                <p id="down_but2">Download Mask</p>
            </a>
        </div>        

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="div1">
                <p id="dummy_input">Upload image</p>
                {{ form }}                
            </div>    
        </form>
    
        <div id="div3">
            <button onclick="previewImage()" id="prev_img">Preview Image</button>
        </div>

        <div id="div2">
            <!-- <button onclick="submitImage1()" name="Submit" value="tracer_mask" id="submit1">TRACER Mask</button> -->
            <button onclick="submitImage1('-1', '')" name="Submit" value="tracer_mask" id="submit2">TRACER Mask</button>
            <!-- <input type="submit" name="Submit" value="RGB to GRAY" id="submit1">
                        <input type="submit" name="Submit" value="Flip Image" id="submit2"> -->
        </div>
    </div>     

    <div id="ori_img">
        <img id="preview" src="{{ current_img.img.url|default_if_none:'#' }}" alt="Original Image" style="width: 100%;">
    </div>

    <div id="mod_img">
        <p id="process">Processing</p>
        <img id="modified" src="{{ current_img.modified.url|default_if_none:'#' }}" alt="Modified Image" style="width: 100%;">
    </div>   

    <div id = "bg_imgs">
        <form method="POST" enctype="multipart/form-data" id="form_2">
            {% csrf_token %}
            <div id="div5">
                <p id="dummy_bg_input">Upload Background</p>
                <input type="file" name="bg_img" id="bgInput" accept="image/*">
            </div>
        </form>

        <div id="bg_upload_img">
            <button onclick="bg_func()" value=0 class="bg_img_but">
                <img class="bg_img" id="bg_preview" src="/media/background.png" alt="Background0">
            </button>
        </div>

        <p id="or">(or)</p>

        <button onclick="bg_func()" value=1 class="bg_img_but">
            <img class="bg_img" src="media/background/bg1.jpg" alt="Background1">
        </button>        
        
        <button onclick="bg_func()" value=2 class="bg_img_but">
            <img class="bg_img" src="media/background/bg2.jpeg" alt="Background2">
        </button>
    </div>

    <script src="{% static '/home.js' %}" type="text/javascript"></script>
    <script src="{% static '/jquery.min.js' %}"></script>

{% endblock %}